@charset "UTF-8";
/* CSS Document created by Christy Chatmon, Spring 2019*/
<!-- Riley Munshower 4/2/19 -->
body {
	margin: 0;
	padding: 0;
	font-family: Lucida Bright, Georgia, sans-serif;
	font-size: 17px;
	line-height: 1.3em;
	color: #324759;
	background-color: #FFFFFF;
	padding: 15px 10px;
}

/* basic text styles ----------------------------  */
p, li, td {
	letter-spacing: 0.1em;
	color: #324759;
	padding: 15px 10px;
}
h1 {
	font-size: 30px;
	padding: 15px 10px;
	font-variant: small-caps;
	letter-spacing: .3em;
	line-height: 3em;
	margin: 0; 
	color: #324759;
}
h2 {
	font-size: 25px;
	padding: 15px 10px;
	font-variant: small-caps;
	letter-spacing: 0.2em;
	color: #324759;
	
}
h3 {
	font-size: 17px;
	letter-spacing: 0.2em;
	border-bottom-width: 7px;
	border-bottom-style: inset;
	border-bottom-color: #A6867B;
	padding: 15px 10px;
	font-variant: small-caps;
	font-style: italic;
}

/* link styles ---------------------------- */
a:link {
	font-weight: bold;
	color: #7B92A6;
	text-decoration: none;
}
a:visited {
	font-weight: bold;
	color: #D9A491;
	text-decoration: none;
}
a:hover {
	color:#BFB0A3;
}

/* list styles ----------------------------- */
ul li {
	list-style-image: url(images/star.png);
	margin-left: 12px;
}
ol {
	margin-left: 60px;
}
ol li {
	padding-left: 0px;
}
/* table styles -------------------------------------- */
table {
	border: solid #BFB0A3 1px;
}
td {
	padding: 6px;
	border: solid #BFB0A3 1px;
}
th {
	font-weight: bold;
	background-color:#BFB0A3;
	text-align: center;
	padding: 6px;
	border: solid #A6867B 1px;
}

/* border styles ------------------------------------ */
hr {
	border: solid #7B92A6 1.5px;
}

img {
	border: solid #999933 1px;

}
iframe {
	border: solid #999933 1px;
	padding: 8px;
	margin: 8px;
}

/*DIV STYLES FOR PAGE LAYOUT*/

#container { 
	width: 900px; 
	margin: 0 auto;
	background-color: #fff; 
	overflow: hidden; 
}
#header{
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #7B92A6;
}
#content{
	width: 100%;
	padding-bottom: 40px; 
}
#sidebar{
	width: 280px;
	float: left;
	margin-top: 50px;
	margin-right: 20px;
}
#sidebar p{
	padding: 10px;
	background: #eee;
	border: 1px solid #D9A491;
	border-radius: 12px;
	box-shadow: 10px 10px 5 px #888;
}
#footer{
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #7B92A6;
}